.node-red/flows_fluorine.json
[{"id":"829af3ee.a57c1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b2855d5b.1215c8","type":"socketcan-config","z":"","interface":"can0"},{"id":"38e8307.1653f5","type":"socketcan-config","z":"","interface":"vcan0"},{"id":"7b24a62e.8f5458","type":"debug","z":"829af3ee.a57c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":320,"wires":[]},{"id":"5f671b29.cd24bc","type":"socketcan-receive","z":"829af3ee.a57c1","name":"socketcan-receive","config":"b2855d5b.1215c8","x":160,"y":320,"wires":[["7b24a62e.8f5458"]]},{"id":"caba412f.047b2","type":"socketcan-send","z":"829af3ee.a57c1","name":"socketcan-out","config":"38e8307.1653f5","x":360,"y":120,"wires":[]},{"id":"a64240cb.3f0788","type":"inject","z":"829af3ee.a57c1","name":"Send object","topic":"","payload":"{\"ext\":0,\"canid\":123,\"dlc\":5,\"data\":[1,2,3,4,5]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["caba412f.047b2"]]},{"id":"3ff96369.ef6f5c","type":"inject","z":"829af3ee.a57c1","name":"Send string - std","topic":"","payload":"0123#00112233","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["caba412f.047b2"]]},{"id":"6879c00a.5edb68","type":"inject","z":"829af3ee.a57c1","name":"Send string - ext","topic":"","payload":"1F334455#1122334455667788","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["caba412f.047b2"]]}]