.node-red/flows_fluorine.json
[{"id":"829af3ee.a57c1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b2855d5b.1215c8","type":"socketcan-config","z":"","interface":"can0"},{"id":"38e8307.1653f5","type":"socketcan-config","z":"","interface":"vcan0"},{"id":"7b24a62e.8f5458","type":"debug","z":"829af3ee.a57c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":360,"wires":[]},{"id":"5f671b29.cd24bc","type":"socketcan-out","z":"829af3ee.a57c1","name":"socketcan-out","config":"38e8307.1653f5","x":150,"y":360,"wires":[["7b24a62e.8f5458"]]},{"id":"caba412f.047b2","type":"socketcan-in","z":"829af3ee.a57c1","name":"socketcan-in","config":"38e8307.1653f5","x":350,"y":120,"wires":[]},{"id":"a64240cb.3f0788","type":"inject","z":"829af3ee.a57c1","name":"Send object - std","topic":"","payload":"{\"ext\":false,\"canid\":123,\"dlc\":5,\"data\":[1,2,3,4,5]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["caba412f.047b2"]]},{"id":"3ff96369.ef6f5c","type":"inject","z":"829af3ee.a57c1","name":"Send string - std","topic":"","payload":"123#00112233","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["caba412f.047b2"]]},{"id":"6879c00a.5edb68","type":"inject","z":"829af3ee.a57c1","name":"Send string - ext","topic":"","payload":"1F334455#1122334455667788","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["caba412f.047b2"]]},{"id":"1ee3b274.4cb8fe","type":"inject","z":"829af3ee.a57c1","name":"Send object - ext","topic":"","payload":"{\"ext\":true,\"canid\":32278,\"dlc\":5,\"data\":[1,2,3,4,5]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["caba412f.047b2"]]},{"id":"391a4c45.7acd8c","type":"comment","z":"829af3ee.a57c1","name":"Send CAN frames in using different payloads on VCAN0","info":"","x":260,"y":80,"wires":[]},{"id":"912f9928.da2758","type":"comment","z":"829af3ee.a57c1","name":"Receiove CAN data from interface VCAN0","info":"","x":220,"y":320,"wires":[]}]